xml-test/dtd-profondeur-multiple.dtd

<!ELEMENT classrooms (classroom+, student?, carte)>
<!ELEMENT carte (code)>
<!ELEMENT code (prefix, suffix)>
<!ELEMENT prefix (valeur*)>
<!ELEMENT suffix (valeur+)>
<!ELEMENT valeur (valeur-interne)>
<!ELEMENT valeur-interne (#PCDATA)>
<!ELEMENT classroom (#PCDATA)>
<!ELEMENT student (#PCDATA)>
<!ATTLIST student name CDATA #IMPLIED>
